body {
    background-color: #222;
    color: #fff;
}

.netflix-red {
    color: #E50914;
}

.navbar-bg-black {
    background-color: #222;
}

.netflix-logo {
    height: 50px;
}

.profile-type {
    color: rgba(255,255,255,.5)
}

.profile-type:hover {
    color: rgba(255,255,255,.8);
    cursor: pointer;
}

.avatar {
    height: 35px;
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle:hover {
    color: #fff;
}

.bg-black {
    background-color: rgb(19, 19, 19);
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    color: #222;
}

.bi-list,
.bi-grid-3x2-gap {
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.5);
    padding: 0 .5rem;
}
