body {
    background-color: #222;
}

.netflix-red {
    color: #E50914;
}

.navbar-bg-black {
    background-color: #222;
}

.netflix-logo {
    height: 50px;
}

.profile-type {
    color: rgba(255,255,255,.5)
}

.profile-type:hover {
    color: rgba(255,255,255,.8);
    cursor: pointer;
}

.avatar {
    height: 35px;
}

.dropdown-toggle {
    color: #fff;
}

.dropdown-toggle:hover {
    color: #fff;
}